@import 'base/all';

.form{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  &-login{
    max-width: 400px;
  }
  &-register{
    max-width: 600px;
  }
  &-profile{
    max-width: 600px;
    span {
      display: block;
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      border: 1px solid $text;
      border-bottom: none;
      border-right: none;
      border-left: none;
      font-weight: 700;
    }
    input{
      font-weight: 700;
    }
    p{
      font-weight: 700;
      font-size: 16px;
    }
  }
  input{
    display: block;
    border: 1px solid $text;
    color: $text;
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 0 15px;
    border-radius: 2px;
    &[type="submit"]{
      background: $accent;
      border:none;
      border-radius: 8px;
      max-width: 200px;
      color: $main;
      margin-left: auto;
      margin-right: auto;
      transition: background .25s ease;
      &:hover{
        background: $second;
      }
    }
  }
  p{
    text-align: center;
    margin: 15px 0;
  }
  .error, .sucess{
    color: red;
    position: absolute;
    top: 100%; left: 0;
    transform: translate(0, 50%);
    width: 100%;
    text-align: center;
  }
  .error{
    color: red;
  }
  .sucess{
    color: $accent;
  }
}

.fields{
  .field{
    position: relative;
    &:not(:first-child){
      margin-top: 15px;
    }
    input, span {
      & + label{
        position: absolute;
        background: #fff;
        left: 5px;
        top: -7px;
        font-size: 12px;
        display: block;
        padding: 0 5px;
      }
    }
  }
}