@import 'base/all';

.form{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  @media(min-width:768px){
    margin-top: 60px;
    margin-bottom: 60px;
  }
  h2{
    position: relative;
    font-weight: 500;
    font-size: 36px;
    line-height: 70px;
    height: 70px;
    color: #FFFFFF;
    text-align: center;
    background: linear-gradient(180deg, #284198 0%, #CA3E47 100%);
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;
  }
  &-login, &-balance{
    max-width: 550px;
  }
  &-register{
    max-width: 600px;
  }
  &-profile{
    max-width: 600px;
    span {
      display: block;
      height: 50px;
      line-height: 50px;
      padding: 0 15px;
      border: 1px solid $text;
      border-bottom: none;
      border-right: none;
      border-left: none;
      font-weight: 700;
    }
    input{
      font-weight: 700;
    }
    p{
      font-weight: 700;
      font-size: 16px;
    }
  }
  ul{
    padding-left: 60px;
    padding-right: 60px;
    ul{
      padding-top: 15px;
      padding-left: 0;
      padding-right: 0;
      // margin-left: -20px;
      // margin-right: -20px;
      .col{
        // padding-left: 5px;
        // padding-right: 5px;
      }
    }
  }
  input, select, textarea{
    display: block;
    border: none;
    color: $text;
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 0 15px;
    background: rgba(209, 209, 209, 0.5);
    border-radius: 8px;
    color: rgba(11, 27, 69, 0.5);
    &[type="submit"]{
      background: rgba(23, 82, 238, 0.61);
      border:none;
      border-radius: 8px;
      max-width: 200px;
      color: $main;
      margin-left: auto;
      margin-right: auto;
      transition: background .25s ease;
      &:hover{
        background: $second;
      }
    }
    &:focus{
      background: rgba(209, 209, 209, 0.85);
      outline: none;
    }
  }
  textarea{
    min-height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    resize: none;
  }
  label{
    font-weight: 500;
    font-size: 18px;
    line-height: 158.47%;
    color: #0B1B45;
    display: block;
  }
  p{
    text-align: center;
    color: rgba(11, 27, 69, 0.5);
    margin: 15px 0;
    a{
      color: rgba(11, 27, 69, 0.5);
    }
  }
  .error{
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255, .75);
    display: flex;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ca3e47;
    z-index: 5;
  }
  .sucess{
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255, .75);
    display: flex;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #27409B;
    z-index: 5;
  }
  .loader{
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255, .75);
    z-index: 4;
    &:before, &:after{
      content: "";
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%, -50%);
      border-top-width: 3px;
      border-top-style: solid;
      border-radius: 50%;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transform-origin: 0 0;
    }
    &:before{
      width: 40px;
      height: 40px;
      border-color: #27409B;
      animation-duration: .75s;
      animation-name: spin1;
    }
    &:after{
      width: 30px;
      height: 30px;
      border-color: #CA3E47;
      animation-duration: .5s;
      animation-name: spin2;
    }
  }
}

@keyframes spin1 {
    from {
        transform:rotate(0deg) translate(-50%, -50%);
    }
    to {
        transform:rotate(360deg) translate(-50%, -50%);
    }
}
@keyframes spin2 {
    from {
        transform:rotate(0deg) translate(-50%, -50%);
    }
    to {
        transform:rotate(-360deg) translate(-50%, -50%);
    }
}

.fields{
  .field{
    position: relative;
    &:not(:first-child){
      margin-top: 15px;
    }
  }
}


.btn{
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  width: 350px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  transition: background .5s ease;
  &:hover{
    background: #CA3E47;
  }
}